@{
    ViewBag.Title = "Home Page";
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
    .containers .btn:hover {
        background-color: black;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>


<!-- Carousel-Start -->
<div>
    <div class="section" style="padding:0px">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/rainforest-during-foggy-day-975771 (1).jpg" alt="Rainforest" style="width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/pic1.jpg" alt="wilsons prom" style="width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/pic2.jpg" alt="KID" style="width:100%;">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
<hr>
<!-- Carousel-End -->

<div class="container" id="containers" align="center">
    <div class="row">
        <h1></h1>
        <div class="col-md-6" align="left">
            <a href="@Url.Action("Kids")">
                <img class="img-responsive" src="~/Content/kid.jpg">
                <button class="btn">Kids - Click here !!"</button>
            </a>
        </div>
        <h1></h1>
        <div class="col-md-6" align="right">
            <a href="@Url.Action("Parents")">
                <img class="img-responsive" src="~/Content/parent.jpg">
                <button class="btn">Parents - Click here !!"</button>
            </a>
        </div>
    </div>
    <hr>
</div>
