@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")

<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Kids Section
                <small>Learn more about wildlife</small>
            </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                <li class="breadcrumb-item active">Interesting Facts</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12">
        <img src="~/Content/kidstudy.jpg" class="img-responsive">
        <hr>
    </div>
</div>


