@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Excited to go for camping?
                <small>Just follow the page for essentials...</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Learn Camping..</li>
            </ol>
        </div>
    </div>
</div>


@*<div class="section-colored text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Step 1. <small>- </small></h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>*@

<div class="container">
    <div class="row">
        
        <div class="col-sm-12 product-tabs">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Tents</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Men Accessories</a></li>
                <li class=""><a href="#tab3" data-toggle="tab">Women Clothings</a></li>
                <li class=""><a href="#tab4" data-toggle="tab">Women Accessories</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <h1>Some Content Here for men clothings</h1>
                </div>
                <div class="tab-pane" id="tab2">
                    <h1>Some Content Here for men accessories</h1>
                </div>
                <div class="tab-pane" id="tab3">
                    <h1>Some Content Here for women clothings</h1>
                </div>
                <div class="tab-pane" id="tab4">
                    <h1>Some Content Here for women accessories</h1>
                </div>
            </div>
            <div class="tab-control" style="position:center;">
                <a class="previous-button" role="button"><i class="fa fa-angle-left fa-3x fa-fw"></i></a>
                <a class="next-button" role="button"><i class="fa fa-angle-right fa-3x fa-fw"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $('.next-button').click(function () {
        $('.nav-tabs > .active').next('li').find('a').trigger('click');
        //trigger the click on the tab same like we click on the tab
    });

    $('.previous-button').click(function () {
        $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        //trigger the click on the tab same like we click on the tab
    })
</script>